.parent{
    width:75%;
    height:400px;
    border:1px solid  green;
    background-color:pink ;
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr  ;
    grid-column-gap:10px;
    grid-row-gap:10px;
    padding:10px;
    align-self:center;
    
}
.child{
    background-color:lightblue ; 
    border:1px solid red;
    display:flex;
    justify-items:center;
    align-items:center;


}

